body > h1 {
    text-align: center;
    font-size: 22px;
}
body{
    font-family: 'Mukta', sans-serif;
}
body > a {
    font-style: italic;
}

body > h2:nth-of-type(1) {
    text-align: center;
}

ul > li:nth-child(odd) {
    background-color: rgb(108, 87, 87);
    color: rgb(255, 255, 255);
}

ul > li:nth-child(even) {
    background-color: rgb(255, 255, 255);
    color: rgb(141, 122, 122);
}

body > h2:nth-of-type(2) {
    text-align: center;
}

ol > li:nth-of-type(3):hover,
ol > li:nth-of-type(5):hover {
    cursor: pointer;
}

ol > li:nth-of-type(4) {
    background-color: rgb(88, 88, 220);
}
* {
    box-sizing: border-box;
}

article{
    width: 100%;
}
article>h2{
    text-align: center;
}

@media (min-width: 992px) {
    th {
        font-size: 130%;
    }
    td {
        font-size: 120%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    th {
        font-size: 120%;
    }
    td {
        font-size: 110%;
    }
}

@media (max-width: 768px) {
    th {
        font-size: 110%;
    }
}